<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Despachador</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src='/socket.io.js' type='text/javascript'></script>
</head>
<body>

<%if(pedidos.length>0){%>
    <h1>holaa</h1>
<%}%>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Despacha pedidos</h2>

                    <table class="table table-striped">
                            <th>Número de pedido</th>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <%pedidos.forEach((pedido)=>{%>
                        <tr>
                            <td><%=pedido.nombreUsuario%></td>
                            <td><%=pedido.totalConImpuesto%></td>
                            <td><%=pedido.totalSinImpuesto%></td>
                        </tr>
                        <%})%>
                    </table>
            </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>



<script>

    const url = 'http://localhost:3001/websockets';
    const socket = io(url);
    socket.on(
        'connect', //nombre del evento
        ()=>{
            console.log('Estamos conectados');
            //socket.disconnect();
            //socket.connect()
        }
    );
    socket.on(
        'comprado',
        (pedido)=>{
            console.log(pedido);
        }
    )
</script>

</body>
</html>