<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva película</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <style>
        .cancelar{
            margin: 2px;
        }
        a:link{
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">


        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Ingresa una nueva película del actor <%=nombreActor%></h5>

                <form action="/api/pelicula/guardar-pelicula"
                method="post">

                    <div class="form-group">
                        <label for="nombrePelicula">Nombre de la película</label>
                        <input type="text" class="form-control"
                               id="nombrePelicula"
                               name="nombrePelicula"
                               placeholder="Ingresa el nombre">
                    </div>
                    <div class="form-group">
                        <label for="anioLanzamientoPelicula">Año de lanzamiento</label>
                        <input type="number"
                               min="1899"
                               class="form-control"
                               id="anioLanzamientoPelicula"
                               name="anioLanzamientoPelicula">
                    </div>

                    <div class="form-group">
                        <label for="ratingPelicula">Rating</label>
                        <input type="number"
                               min="0"
                               max="10"
                               class="form-control"
                               id="ratingPelicula"
                               name="ratingPelicula">
                    </div>

                    <div class="form-group">
                        <label for="precioPelicula">Precio</label>
                        <input type="number"
                               min="0"
                               max="100"
                               step="0.1"
                               class="form-control"
                               id="precioPelicula"
                               name="precioPelicula">
                    </div>

                    <div class="form-group">
                        <label for="actoresPrincipalesPelicula">Actores principales</label>
                        <input type="text"
                               class="form-control"
                               id="actoresPrincipalesPelicula"
                               name="actoresPrincipalesPelicula">
                    </div>

                    <div class="form-group">
                        <label for="actoresPrincipalesPelicula"></label>
                        <input type="text"
                               class="form-control"
                               id="actor"
                               name="actor"
                               value="<%=idActor %>"
                               hidden>
                    </div>

                    <div class="form-group">
                        <label for="sinopsisPelicula">Sinopsis</label>
                        <textarea class="form-control" id="sinopsisPelicula" name="sinopsisPelicula"
                                  rows="3"></textarea>

                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <a href="/api/pelicula/listar-peliculas/<%= idActor %>">
                                <button type="button" class="btn btn-outline-success btn-block">Cancelar</button></a>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-outline-success btn-block">Guardar</button>
                        </div>
                        <div class="col-sm-1"></div>

                    </div>


                </form>

            </div>
        </div>


    </div>
    <div class="col-sm-3"></div>
</div>
<script>
    function getYear() {
        return new Date().getFullYear()
    }
</script>
</body>
</html>