<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PruebaPrimerBimestre</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        form{
            margin-top: 80px;

        }
    </style>

</head>
<body>

<form action="/api/logged">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <label for="nombreUsuario">Nombre</label>
            <input type="text" name="nombreUsuario" id="nombreUsuario">
        </div>
        <div class="col-sm-4"></div>

        <br>
        <br>
        <br>
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <button>Login</button>
        </div>
        <div class="col-sm-5"></div>

    </div>
</form>

</body>
</html>