<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Peliculas - Lista</title>
        <meta charset="UTF-8">
        <link rel="icon" href="/imagenes/planetexpress.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <style>
            table, td, th {
                border: solid black 1px;
            }
        </style>

    </head>
    <body>
    <!-- Header 1 - 6 -->
    <h1>Título 1</h1>
    <h2>Título 2</h2>
    <h3>Título 3</h3>
    <h4>Título 4</h4>
    <h5>Título 5</h5>
    <h6>Título 6</h6>
    <p>Este es mi párrafo</p>
    <!-- Unordered list -->
    <ul>
        <li>holi</li>
        <li>esto</li>
        <li>son</li>
        <li>viñetas</li>
    </ul>
    <!-- Ordered list -->
    <ol>
        <li>holi</li>
        <li>esto</li>
        <li>son</li>
        <li>numeros</li>
    </ol>

    <a href="http://www.google.com" target="_blank">Google externo</a>
    <a href="http://www.google.com" target="_self">Google aqui mismo</a>

    <img src="/imagenes/planetexpress.jpg" alt="Imagen de planet express">

    <form action="">
        <label for="nombre">Nombre</label>
        <input id="nombre" ype="text">
        <button>Enviar datos</button>
    </form>

    <label for="fuera">Fuera del formulario</label>
    <input id="fuera" ype="text">
    <button>Enviar datos fuera</button>

    <table>
        <!-- Table row -->
        <tr>
            <!-- Table header -->
            <th>Nombres</th>
            <th>Apellidos</th>
        </tr>
        <tr>
            <!-- Table deital -->
            <td>Gorky Andrés</td>
            <td>Muñoz Galván</td>
        </tr>
    </table>

    <iframe src="https://saew.epn.edu.ec/" frameborder="0"></iframe>

    <div></div>

    </body>
</html>